*{
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
}
.container{
    background-color: rgb(6, 131, 120);
    border-radius: 15px;
}
.card-header{
   background-color: rgb(9, 134, 122);
   
}
.page-title{
    color: rgb(7, 7, 7);
    background: orange;
}
#engineer{
    color: rgb(0, 255, 149);
}
#manager{
   color: yellow;
}
#intern{
   color: rgb(59, 230, 230);
}
.card{
    border-radius: 20px;
    background-color: silver;
}
img{
    
    border-radius: 100%;
    
}
p{
    color: white;
    text-align: center;
    
}
h2{
    font-size: 25px;
}
h3{
    font-size: 22px;
}